@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

@font-face {
  font-family: "Roashe";
  src: url("../public/fonts/roashe-font/RoashePersonalUse-jEa4M.otf");

  font-family: "Bri";
  src: url("../public/fonts/brioche-serif-font/Brioche\ DEMO.otf");
}
/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-2 px-6 outline-none ml-11;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row bg-primary-tan flex-col gap-5 relative z-0 max-w-[1440px] mx-auto mb-0;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[24px] pl-40 font-extrabold;
}

.hero__title2 {
  @apply 2xl:text-[72px] sm:text-[55px] text-[24px] pl-40 font-extrabold;
}

.hero__subtitle {
  @apply text-[18px] text-black-100 pl-32 font-light mt-5 flex items-center justify-center;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}
/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}

.results_title {
  @apply 2xl:text-[72px] sm:text-[30px] text-[24px] pl-36 font-extrabold;
}
